<div class="container-fluid d-flex mt-5 py-3 justify-content-center">
    <!-- Imagen fija -->
    <img  src="imagenes/logo/banner3.png" class=" img-fluid shadow me-4" style="max-height: 350px;" alt="" height="100px">
  
    <!-- Carrusel en #alimento -->
    <div id="alimento" class="carousel slide me-5" data-bs-ride="carousel" data-bs-interval="3000" style="width:400px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="imagenes/logo/banner4.png" class="d-block w-100 img-fluid" alt="" width="300px">
        </div>
        <div class="carousel-item">
          <img src="imagenes/logo/bannergato.png" class="d-block w-100 img-fluid" alt="" width="300px">
        </div>
        <div class="carousel-item">
          <img src="imagenes/logo/bannerroedores.png" class="d-block w-100 img-fluid" alt="" height="300px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#alimento" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#alimento" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>

  <div class=" d-flex justify-content-center mt-5 mb-3">
    <h3>Nuestros Recomendados</h3>
  </div>
  <div class="d-flex justify-content-center">
    
    <app-grid-productos></app-grid-productos>
  </div>
  
  
  
