<nav class=" navbar bg-body-secondary sticky-top sticky-below-2 py-0" style="z-index: 1040;">
    <div class=" container d-flex align-items-center py-0 justify-content-between">

      <a class="navbar-brand py-0" routerLink="/home">
        <img src="imagenes/logo/ikatilogo3.png" alt="logo" height="128px">
      </a>
 
      </div>

  </nav>

<div class="modern-tabs mx-auto" style="max-width: 500px;">
    <mat-tab-group>
      <!-- Pestaña Login -->
      <mat-tab label="Iniciar Sesión">
        <app-login></app-login>
      </mat-tab>
  
      <!-- Pestaña Registro -->
      <mat-tab label="Crear Cuenta">
        <app-registro></app-registro>
      </mat-tab>
  
      <!-- Pestaña Admin
      <mat-tab label="Acceso Admin">
        <app-login-admin></app-login-admin>
      </mat-tab>-->
    </mat-tab-group>
  </div>
  
