<nav class="navbar navbar-expand-lg bg-body-secondary">
 <div class="container-fluid">
    <a class="navbar-brand mx-3" href="/home">
        <img src="imagenes/logo/ikatilogo3.png" alt="logo" height="150">
    </a>

    <form class="d-flex mx-auto" style="width: 600px; max-width: 100%;">
        <input class="form-control me-2" type="search" placeholder="Busca tu producto" aria-label="Buscar">
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>

      <div class="d-flex ms-auto mx-5">
        <img src="imagenes/cabeceraweb/iniciarsesion.png" alt="login" class="mt-2" height="20">
        <button
          class="btn btn-link"
          routerLink="/login"
        >
          Identifícate
        </button>
      </div>

 </div>
</nav>

