<!-- Banner superior fijo -->
<!--<div *ngIf="showBanner" class="alert alert-primary alert-dismissible fixed-top mb-0 rounded-0 py-1" role="alert"
  style="z-index: 1050;">
  <div class="container d-flex justify-content-center">
    <span>
      💸 ¡-30% en la 2ª ud. en tu compra y 100ptos extra! Cupón <strong>MEGA30</strong>
    </span>
    <button type="button" class=" btn-close btn-close-black py-2" (click)="showBanner = false"></button>
  </div>
</div>-->
<!-- Espacio para el banner -->
<!--<div style="margin-top: 25px;"></div>-->


<!-- Navbar principal -->
<nav class=" navbar bg-body-secondary sticky-top sticky-below-2 py-0" style="z-index: 1040;">
  <div class=" container d-flex align-items-center py-0 justify-content-between">



    <!-- Logo -->
    <a class="navbar-brand py-0" routerLink="/home">
      <img src="imagenes/logo/ikatilogo3.png" alt="logo" height="128px">
    </a>





    <!-- Acceso usuario a la derecha -->

    <div *ngIf="(usuario | async) as usuario; else noUsuario" class="d-flex align-items-center">

      <div class="d-flex align-items-center">
        
        <div class="dropdown" (mouseenter)="open=true" (mouseleave)="open=false">
          <img class="mb-1" src="imagenes/cabeceraweb/iniciarsesion.png" height="16" alt="Mi Perfil">
          
          <button *ngIf="usuario.rol=='admin';else botonUser" class="btn btn-link dropdown-toggle text-decoration-none" style="font-size: small;" [class.show]="open" [attr.aria-expanded]="open">
            Hola {{ usuario.usuario }} <span class="text-danger">({{usuario.rol}})</span> 
          </button>
          <ng-template #botonUser>
            <button class="btn btn-link dropdown-toggle text-decoration-none" style="font-size: small;" [class.show]="open" [attr.aria-expanded]="open">
              Hola {{ usuario.nombre }}
            </button>
          </ng-template>
          <div class="dropdown-menu dropdown-menu-end" [class.show]="open">

            <a *ngIf="usuario.rol=='admin'" class="dropdown-item" routerLink="/administracion" style="font-size: small;">Ir a Panel Admin</a>
            <a *ngIf="usuario.rol=='admin'" class="dropdown-item" style="font-size: small;" routerLink="/cambiar-pass-admin">Cambiar Password</a>
            <a *ngIf="usuario.rol=='user'" class="dropdown-item" style="font-size: small;" routerLink="/perfil">Mi perfil</a>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item text-danger " style="font-size: small;"  (click)="logOut()">Cerrar Sesión</button>
          </div>
         
        </div>

      </div>
    </div>

    <!-- Si hay usuario -->
    <ng-template #noUsuario>
      <div class="d-flex align-items-center">
        <img src="imagenes/cabeceraweb/iniciarsesion.png" height="20" alt="login">
        <button class="btn btn-link text-decoration-none" routerLink="/gestion-cuentas">
          Identifícate
        </button>
      </div>
    </ng-template>
  </div>

</nav>

<nav class="bg-primary sticky-below shadow-sm border-bottom">
  <div class="container d-flex align-items-center">

    <ul class="nav gap-1 flex-grow-1 justify-content-center py-2 mb-0">
      <li class="nav-item dropdown" *ngFor="let animal of animales">
        <a class="nav-link dropdown-toggle fw-bold text-light" [routerLink]="['/home',animal.id]" id="perrosDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{animal.nombre}}
        </a>

        <ul class="dropdown-menu bg-secondary-subtle " aria-labelledby="perrosDropdown">
          <li *ngFor="let tipo of animal.tipos"><a class="dropdown-item text-dark" [routerLink]="['/home',animal.id,tipo.id]">{{tipo.tipo}}</a></li>
        </ul>
      <li class="nav-item">
        <a class="nav-link fw-bold text-danger" routerLink="/ofertas">OFERTAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold text-light " routerLink="/servicios">Servicios</a>
      </li>

    </ul>
    <form class="d-flex align-items-end ms-auto" style="width: 400px; max-width: 50%;">
      <input class="form-control rounded-start-pill border-end-0" type="search" placeholder="Busca tu producto..."
        aria-label="Buscar">
      <button class="btn btn-info rounded-end-pill border-0" type="submit">
        <img src="imagenes/cabeceraweb/lupa.png" alt="buscar" height="25px">
      </button>
    </form>
  </div>
</nav>