<!-- Banner superior fijo -->
<div *ngIf="showBanner" class="alert alert-primary alert-dismissible fixed-top mb-0 rounded-0 py-1" role="alert"
  style="z-index: 1050;">
  <div class="container d-flex justify-content-center">
    <span>
      💸 ¡-30% en la 2ª ud. en tu compra y 100ptos extra! Cupón <strong>MEGA30</strong>
    </span>
    <button type="button" class=" btn-close btn-close-black py-2" (click)="showBanner = false"></button>
  </div>
</div>
<!-- Espacio para el banner -->
<div style="margin-top: 25px;"></div>


<!-- Navbar principal -->
<nav class=" navbar bg-body-secondary shadow-sm sticky-top sticky-below-2 py-0" style="z-index: 1040;">
  <div class=" container d-flex align-items-center py-0 justify-content-between">


    
    <!-- Logo -->
    <a class="navbar-brand py-0" routerLink="/home">
      <img src="imagenes/logo/ikatilogo3.png" alt="logo" height="128px">
    </a>





    <!-- Acceso usuario a la derecha -->
    <div class="d-flex align-items-center">
            <img src="imagenes/cabeceraweb/iniciarsesion.png" height="20" alt="login">
      <button class="btn btn-link" routerLink="/login">
        Identifícate
      </button>
    </div>
  </div>
</nav>

<nav class="bg-primary sticky-below shadow-sm border-bottom">
  <div class="container d-flex align-items-center">

    <ul class="nav gap-1 flex-grow-2 justify-content-start py-2 mb-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-bold text-light" href="#" id="perrosDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Perros
        </a>
        <ul class="dropdown-menu bg-secondary-subtle " aria-labelledby="perrosDropdown">
          <li><a class="dropdown-item text-dark" routerLink="/perros/pienso">Pienso</a></li>
          <li><a class="dropdown-item text-dark" routerLink="/perros/snacks">Snacks</a></li>
          <li><a class="dropdown-item text-dark" routerLink="/perros/accesorios">Accesorios</a></li>
          <li><a class="dropdown-item text-dark" routerLink="/perros/accesorios">Antiparasitarios</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle fw-bold text-light" href="#" id="gatosDropdown" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Gatos
        </a>
        <ul class="dropdown-menu bg-secondary-subtle" aria-labelledby="gatosDropdown">
          <li><a class="dropdown-item text-dark" routerLink="/gatos/pienso">Pienso</a></li>
          <li><a class="dropdown-item text-dark" routerLink="/gatos/snacks">Snacks</a></li>
          <li><a class="dropdown-item text-dark" routerLink="/gatos/accesorios">Accesorios</a></li>
          <li><a class="dropdown-item text-dark" routerLink="/gatos/accesorios">Antiparasitarios</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold text-light" routerLink="/roedores">Conejos y Roedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold text-danger" routerLink="/ofertas">OFERTAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fw-bold text-light " routerLink="/servicios">Servicios</a>
      </li>

    </ul>
    <form class="d-flex align-items-end ms-auto" style="width: 400px; max-width: 50%;">
      <input class="form-control rounded-start-pill border-end-0" type="search" placeholder="Busca tu producto..." aria-label="Buscar">
      <button class="btn btn-info rounded-end-pill border-0" type="submit">
        <img src="imagenes/cabeceraweb/lupa.png" alt="buscar" height="25px">
      </button>
    </form>
  </div>
</nav>