<div><H4>Marcas</H4></div>
<ul *ngFor="let marca of marcas; let i = index" style="margin: 0%;"> <mat-checkbox  [(ngModel)]="marca.check">{{marca.marca}}</mat-checkbox>
</ul>

<div><h4>Tipo de producto</h4></div>
<ul  *ngFor="let tipo of tipos; let i = index" ><mat-checkbox [(ngModel)]="tipo.check">{{tipo.tipo}}</mat-checkbox></ul>

<div><h4>Valoración mínima</h4></div>
<mat-slider min="0" max="5" step="0.1" discrete>
    <input matSliderThumb [(ngModel)]="valoracion">
</mat-slider>

<div *ngFor="let filtros of filtrosTotales">{{filtros.tipoFiltro}}
    <mat-checkbox *ngFor="let filtro of filtros.filtros" [(ngModel)]="filtro.check">{{filtro.filtro}}</mat-checkbox>
</div>
