<div class="container d-flex justify-content-center align-items-center mt-4 mb-4">

    <form class="w-100 rounded shadow bg-white p-4" style="max-width:fit-content;" #miFormulario="ngForm">

        <h3 class="text-center text-primary mb-3">Añadir Producto</h3>
        <table>

            
            <tr>
                <td>
                    <label class="form-label" for="producto">Producto</label>
                </td>
                <td colspan="4">
                    <input class="form-control" type="text" name="nombre" [(ngModel)]="producto.nombre" required>

                </td>
                <td>
                    <button class="btn btn-secondary"  (click)="completarDatosProducto()" *ngIf="modo !== 'registrar'">Buscar</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="descripcion">Descripcion(HTML)</label>

                </td>
                <td colspan="4">
                    <input class="form-control" type="text" name="descripcion" [(ngModel)]="producto.descripcion"
                        required>
                </td>
            </tr>

            <tr>
                <td>
                  <label class="form-label">¿Activado?</label>
                </td>
                <td>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="activo"
                      id="activoSi"
                      [value]="1"
                      [(ngModel)]="producto.activo"
                      required
                    >
                    <label class="form-check-label" for="activoSi">Sí</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="activo"
                      id="activoNo"
                      [value]="0"
                      [(ngModel)]="producto.activo"
                      required
                    >
                    <label class="form-check-label" for="activoNo">No</label>
                  </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="animal">Animal</label>
                </td>
                <td colspan="4">
                    <input class="form-control" type="text" name="animal" [(ngModel)]="producto.animal" required>

                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="marca">Marca</label>
                </td>
                <td colspan="4">
                    <input class="form-control" type="text" name="marca" [(ngModel)]="producto.marca">

                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="tipo">Tipo de producto</label>
                </td>
                <td colspan="4">
                    <input class="form-control" type="text" name="tipo" [(ngModel)]="producto.tipo" required>

                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="descuento">Descuento</label>
                </td>
                <td colspan="4">
                    <input class="form-control" step="0.1" type="number" name="descuento" [(ngModel)]="producto.descuento" required>

                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-label" for="valoracion">Valoración</label>
                </td>
                <td colspan="4">
                    <input class="form-control" step="0.1" type="number" name="valoracion" [(ngModel)]="producto.valoracion"
                        required>

                </td>
            </tr>

            <tr>
                <td colspan="6"><hr class="hr" /></td>
              </tr>
              <tr>
                <td colspan="6"><h3 class="text-body-tertiary">Variantes</h3></td>
              </tr>

            <tr>
                <td>
                    <label class="form-label" for="nombre_variacion">Distinción (peso, talla...)</label>
                </td>
                <td colspan="4">
                    <input class="form-control" type="text" name="nombre_variacion"
                        [(ngModel)]="nombre_variacion" required>

                </td>
            </tr>

            <tr *ngFor="let v of variantes; let i = index">
                <td>
                    <label class="form-label" for="valor_variacion">Valor</label>
                </td>
                <td>
                    <input class="form-control" type="text" name="valor_variacion{{i}}"
                        [(ngModel)]="v.valor_variacion" required>
                </td>

                <td>
                    <label class="form-label" for="precio">Precio</label>
                </td>
                <td>
                    <input class="form-control" type="number" name="precio{{i}}" [(ngModel)]="v.precio" required>
                </td>

                <td>
                    <label class="form-label" for="stock">Stock</label>
                </td>
                <td>
                    <input class="form-control" type="number" name="stock{{i}}" [(ngModel)]="v.stock" required>
                </td>
                <td>
                    <button type="button" class="btn px-4 rounded-pill btn-danger text-light  w-100" (click)="eliminarVariante(i)">Eliminar</button>
                </td>

            </tr>
            <tr>
                <td>
                    <button type="button" class="btn rounded-pill btn-primary px-4 mt-3 w-100" (click)="nuevaVariante()">Añadir filtro</button>
                </td>
            </tr>

            <tr>
                <td colspan="6"><hr class="hr" /></td>
              </tr>
              <tr>
                <td colspan="6"><h3 class="text-body-tertiary">Filtros</h3></td>
              </tr>

            <tr>

            <tr *ngFor="let f of filtros; let i = index">
                <td>
                    <label class="form-label" for="filtro">Filtro</label>
                </td>
                <td>
                    <input class="form-control" type="text" name="filtro{{i}}" [(ngModel)]="f.filtro" required>

                </td>

                <td>
                    <label class="form-label" for="valor">Valor</label>
                </td>
                <td>
                    <input class="form-control" type="text" name="valor{{i}}" [(ngModel)]="f.valor" required>

                </td>
                <td>
                    <button type="button" class="btn btn-danger px-4 rounded-pill text-light w-100" (click)="eliminarFiltro(i)">Eliminar</button>
                </td>

            </tr>
            <tr>
                <td>
                    <button type="button" class="btn rounded-pill px-4 text-light btn-primary mt-3 w-100" (click)="nuevoFiltro()">Añadir filtro</button>
                </td>
            </tr>
            <tr>
                <td colspan="6"><hr class="hr" /></td>
              </tr>
              <tr>
                <td colspan="6"><h3 class="text-body-tertiary">Imágenes</h3></td>
              </tr>

            <tr>

            <tr *ngFor="let img of imagenes; let i = index">
                <td>
                    <label class="form-label" for="img">Imagen</label>
                </td>
                <td colspan="4">
                    <input class="form-control" type="file" accept="image/*" name="img{{i}}" *ngIf="imagenes[i]?.file === null || imagenes[i]?.file?.name==''"  (change)="guardarImagen($event,i)" required>
                    <img *ngIf="imagenes[i].base64!=''" [src]="imagenes[i].base64" style="width: 100px;">
                </td>
                <td>
                    <button type="button" class="btn px-4 btn-danger rounded-pill text-light px-4 w-100" (click)="eliminarImagen(i)">Eliminar</button>
                </td>

            </tr>
            <tr>
                <td>
                    <button type="button" class="btn text-light rounded-pill btn-primary mt-3 w-100" (click)="nuevaImagen()">Añadir imagen</button>
                </td>
            </tr>



        </table>
        <div class="text-center">
            <button type="button" class="grow-on-hover btn btn-danger shadow rounded-pill btn-lg w-25 text-light px-4 mt-5 mb-4" *ngIf="modo === 'registrar'" (click)="registrarProductoCompleto()">Registrar</button>
        <!--<button type="button" class="btn btn-primary mt-3 w-100" *ngIf="modo === 'modificar'" (click)="modificar()">Modificar</button>
        <button type="button" class="btn btn-primary mt-3 w-100" *ngIf="modo === 'eliminar'" (click)="eliminar()">Eliminar</button>-->
        </div>
        

    </form>

</div>