<div
  class="container d-flex justify-content-center align-items-center mt-4 mb-4"
>
  <form
    class="w-100 rounded shadow bg-white p-4"
    style="max-width: fit-content"
    #miFormulario="ngForm"
  >
    <h3 class="text-center text-primary mb-3" *ngIf="modo == 'registrar'">
      Añadir Producto
    </h3>
    <h3 class="text-center text-primary mb-3" *ngIf="modo == 'modificar'">
      Modificar Producto
    </h3>
    <h3 class="text-center text-primary mb-3" *ngIf="modo == 'eliminar'">
      Eliminar Producto
    </h3>
    <table>
      <tr *ngIf="modo == 'registrar'">
        <td>
          <label class="form-label" for="producto">Producto</label>
        </td>
        <td colspan="4">
          <input
            class="form-control"
            type="text"
            name="nombre"
            [(ngModel)]="producto.nombre"
            required
          />
        </td>
      </tr>
      <tr *ngIf="modo != 'registrar'">
        <td>Producto</td>
        <td colspan="4">
          <mat-form-field class="w-100 form-control">
            <input
              name="nombre"
              type="text"
              placeholder="Selecciona producto"
              matInput
              [matAutocomplete]="auto"
              [(ngModel)]="producto.nombre"
              (ngModelChange)="filtrarProductos()"
            />
            <mat-autocomplete #auto="matAutocomplete" class="bg-white">
              @for (p of productosFiltrados; track p) {
              <mat-option
                (click)="producto.id = p.id; this.completarDatos()"
                [value]="p.nombre"
                >{{ p.nombre }}</mat-option
              >
              }
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label" for="descripcion">Descripcion</label>
        </td>
        <td colspan="4">
          <ckeditor
            required
            [disabled]="modo == 'eliminar'"
            class="editor-alto"
            name="descripcion"
            [editor]="Editor"
            [(ngModel)]="producto.descripcion"
          ></ckeditor>
        </td>
      </tr>

      <tr>
        <td>
          <label class="form-label">¿Activado?</label>
        </td>
        <td>
          <div class="form-check form-check-inline">
            <input
              [disabled]="modo == 'eliminar'"
              class="form-check-input"
              type="radio"
              name="activo"
              id="activoSi"
              [value]="1"
              [(ngModel)]="producto.activo"
            />
            <label class="form-check-label" for="activoSi">Sí</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              [disabled]="modo == 'eliminar'"
              class="form-check-input"
              type="radio"
              name="activo"
              id="activoNo"
              [value]="0"
              [(ngModel)]="producto.activo"
            />
            <label class="form-check-label" for="activoNo">No</label>
          </div>
        </td>
      </tr>
      <tr>
        <td>Animal*</td>
        <td colspan="4">
          <mat-form-field class="w-100 form-control">
            <input
              required
              [disabled]="modo == 'eliminar'"
              name="animal"
              type="text"
              placeholder="Selecciona animal"
              matInput
              [matAutocomplete]="autoAnimal"
              [(ngModel)]="nombreAnimal"
              (ngModelChange)="filtrarAnimales()"
            />
            <mat-autocomplete #autoAnimal="matAutocomplete" class="bg-white">
              @for (animal of animalesFiltrados; track animal) {
              <mat-option
                (click)="producto.id_animal = animal.id"
                [value]="animal.nombre"
                >{{ animal.nombre }}</mat-option
              >
              }
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Marca*</td>
        <td colspan="4">
          <mat-form-field class="w-100 form-control">
            <input
              required
              [disabled]="modo == 'eliminar'"
              name="marca"
              type="text"
              placeholder="Selecciona marca"
              matInput
              [matAutocomplete]="autoMarca"
              [(ngModel)]="nombreMarca"
              (ngModelChange)="filtrarMarcas()"
            />
            <mat-autocomplete #autoMarca="matAutocomplete" class="bg-white">
              @for (marca of marcasFiltradas; track marca) {
              <mat-option
                (click)="producto.id_marca = marca.id"
                [value]="marca.nombre"
                ><span class="me-3"
                  ><img
                    [src]="
                      'http://localhost:3000/imagenesMarcas/' + marca.imagen
                    "
                    alt="imgMarca"
                    style="width: 50px" /></span
                ><span>{{ marca.nombre }}</span></mat-option
              >
              }
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Tipo de producto*</td>
        <td colspan="4">
          <mat-form-field class="w-100 form-control">
            <input
              required
              [disabled]="modo == 'eliminar'"
              name="tipo_producto"
              type="text"
              placeholder="Selecciona Tipo de producto"
              matInput
              [matAutocomplete]="autoTipo"
              [(ngModel)]="nombreTipo_Producto"
              (ngModelChange)="filtrarTipos_Producto()"
            />
            <mat-autocomplete #autoTipo="matAutocomplete" class="bg-white">
              @for (tipo of tipos_productoFiltrados; track tipo) {
              <mat-option
                (click)="producto.id_tipo_producto = tipo.id"
                [value]="tipo.tipo"
                >{{ tipo.tipo }}</mat-option
              >
              }
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label" for="descuento">Descuento (%)</label>
        </td>
        <td colspan="4">
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            step="0.1"
            type="number"
            name="descuento"
            [(ngModel)]="producto.descuento"
            (keydown)="validarInput($event, '1')"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label class="form-label" for="valoracion">Valoración*</label>
        </td>
        <td colspan="4">
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            step="0,1"
            type="number"
            name="valoracion"
            value=""
            (keydown)="validarInput($event, '1')"
            [(ngModel)]="producto.valoracion"
            required
          />
        </td>
      </tr>

      <tr>
        <td colspan="6"><hr class="hr" /></td>
      </tr>
      <tr>
        <td colspan="6"><h3 class="text-body-tertiary">Variantes</h3></td>
      </tr>
      <tr>
        <td>Tipo de variante*</td>
        <td colspan="4">
          <mat-form-field class="w-100 form-control">
            <input
              required
              [disabled]="modo == 'eliminar'"
              name="tipo_variante"
              type="text"
              placeholder="Selecciona Tipo de variante"
              matInput
              [matAutocomplete]="autoVariante"
              [(ngModel)]="nombreTipo_Variante"
              (ngModelChange)="filtrarTipos_Variante()"
            />
            <mat-autocomplete #autoVariante="matAutocomplete" class="bg-white">
              @for (tipo of tipos_variantesFiltrados; track tipo) {
              <mat-option
                (click)="id_tipo_variante = tipo.id"
                [value]="tipo.tipo"
                >{{ tipo.tipo }}</mat-option
              >
              }
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>

      <tr *ngFor="let v of variantes; let i = index">
        <td>
          <label class="form-label" for="valor_variacion">Valor*</label>
        </td>
        <td>
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            type="text"
            name="valor_variacion{{ i }}"
            [(ngModel)]="v.valor_variacion"
            required
          />
        </td>

        <td>
          <label class="form-label" for="precio">Precio*</label>
        </td>
        <td>
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            type="number"
            step="0,01"
            name="precio{{ i }}"
            [(ngModel)]="v.precio"
            (keydown)="validarInput($event, '2')"
            required
          />
        </td>

        <td>
          <label class="form-label" for="stock">Stock*</label>
        </td>
        <td>
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            type="number"
            name="stock{{ i }}"
            [(ngModel)]="v.stock"
            (keydown)="validarInput($event, '0')"
            required
          />
        </td>
        <td>
          <button
            *ngIf="modo != 'eliminar'"
            type="button"
            class="btn px-4 rounded-pill btn-danger text-light w-100"
            (click)="eliminarVariante(i)"
          >
            Eliminar
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button
            *ngIf="modo != 'eliminar'"
            type="button"
            class="btn rounded-pill btn-primary px-4 mt-3 w-100"
            (click)="nuevaVariante()"
          >
            Añadir variante
          </button>
        </td>
      </tr>

      <tr>
        <td colspan="6"><hr class="hr" /></td>
      </tr>
      <tr>
        <td colspan="6"><h3 class="text-body-tertiary">Filtros</h3></td>
      </tr>

      <tr></tr>

      <tr *ngFor="let f of filtros; let i = index">
        <td>
          <label class="form-label" for="filtro">Filtro</label>
        </td>
        <td>
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            type="text"
            name="filtro{{ i }}"
            [(ngModel)]="f.filtro"
          />
        </td>

        <td>
          <label class="form-label" for="valor">Valor</label>
        </td>
        <td>
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            type="text"
            name="valor{{ i }}"
            [(ngModel)]="f.valor"
          />
        </td>
        <td>
          <button
            *ngIf="modo != 'eliminar'"
            type="button"
            class="btn btn-danger px-4 rounded-pill text-light w-100"
            (click)="eliminarFiltro(i)"
          >
            Eliminar
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button
            *ngIf="modo != 'eliminar'"
            type="button"
            class="btn rounded-pill px-4 text-light btn-primary mt-3 w-100"
            (click)="nuevoFiltro()"
          >
            Añadir filtro
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="6"><hr class="hr" /></td>
      </tr>
      <tr>
        <td colspan="6"><h3 class="text-body-tertiary">Imágenes</h3></td>
      </tr>

      <tr></tr>

      <tr *ngFor="let img of imagenes; let i = index">
        <td>
          <label class="form-label" for="img" *ngIf="imagenes.length > 1"
            >Imagen</label
          >
        </td>
        <td colspan="4">
          <input
            [disabled]="modo == 'eliminar'"
            class="form-control"
            type="file"
            accept="image/*"
            name="img{{ i }}"
            *ngIf="
              (imagenes[i]?.file === null || imagenes[i]?.file?.name == '') &&
              modo != 'eliminar'
            "
            (change)="guardarImagen($event, i)"
          />
          <img
            *ngIf="imagenes[i].base64 != ''"
            [src]="imagenes[i].base64"
            style="width: 100px"
          />
        </td>
        <td>
          <button
            *ngIf="modo != 'eliminar'"
            type="button"
            class="btn px-4 btn-danger rounded-pill text-light px-4 w-100"
            (click)="eliminarImagen(i)"
          >
            Eliminar
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button
            *ngIf="modo != 'eliminar'"
            type="button"
            class="btn text-light rounded-pill btn-primary mt-3 w-100"
            (click)="nuevaImagen()"
          >
            Añadir imagen
          </button>
        </td>
      </tr>
    </table>
    <div class="text-center">
      <button
        type="button"
        class="grow-on-hover btn btn-danger shadow rounded-pill btn-lg w-25 text-light px-4 mt-5 mb-4"
        *ngIf="modo === 'registrar'"
        (click)="registrar()"
      >
        Registrar
      </button>
      <button
        type="button"
        class="grow-on-hover btn btn-danger shadow rounded-pill btn-lg w-25 text-light px-4 mt-5 mb-4"
        *ngIf="modo === 'modificar'"
        (click)="modificar()"
      >
        Modificar
      </button>
      <button
        type="button"
        class="grow-on-hover btn btn-danger shadow rounded-pill btn-lg w-25 text-light px-4 mt-5 mb-4"
        *ngIf="modo === 'eliminar'"
        (click)="eliminar()"
      >
        Eliminar
      </button>
    </div>
  </form>
</div>
