<div class="container d-flex justify-content-center align-items-center mt-5">

    <form *ngIf="modo === 'registrar'" class="w-100 rounded shadow bg-white p-4" style="max-width: 300px;"
        #miFormulario="ngForm">

        <h3 class="text-center text-primary mb-1">Admin</h3>
        <p class="text-center ">Añade un administrador:</p>


        <table>
            <tr>
                <td>
                    <label class="form-label" for="usuario">Usuario</label>
                </td>
                <td>
                    <input class="form-control" type="text" name="usuario" [(ngModel)]="admin.usuario" required>

                </td>

            </tr>
            <tr>
                <td>
                    <label class="form-label" for="contrasena">Contraseña</label>

                </td>
                <td>
                    <input class="form-control" type="password" name="contrasena" [(ngModel)]="admin.contrasena"
                        required>
                </td>
            </tr>




        </table>

        <button type="button" class="grow-on-hover btn btn-danger mt-3 w-100 text-light" *ngIf="modo === 'registrar'"
            (click)="crearAdmin()">Registrar</button>
        


    </form>

    <form *ngIf="modo === 'modificar'" class="w-100 rounded shadow bg-white p-4" style="max-width: 400px;">
        <h3 class="text-center text-primary mb-4">Cambiar contraseña</h3>

        <div class="mb-3">
            <label class="form-label" for="usuario">Usuario</label>
            <input class="form-control" type="text" name="usuario" [(ngModel)]="admin.usuario" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="passActual">Contraseña actual</label>
            <input class="form-control" type="password" name="passActual" [(ngModel)]="admin.antigua" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="passNueva">Nueva contraseña</label>
            <input class="form-control" type="password" name="passNueva" [(ngModel)]="admin.nueva" required>
        </div>
        <button type="button" class="btn btn-danger text-light shadow mt-3 w-100" (click)="cambiarPassword()">Cambiar
            contraseña</button>
    </form>

    <form *ngIf="modo === 'eliminar'" class="w-100 rounded shadow bg-white p-4" style="max-width: 350px;">
        <h3 class="text-center text-primary ">Eliminar admin</h3>
        <p class="text-center" >Introduce el usuario del admin a eliminar</p>

        <div class="mb-3">
            <label class="form-label" for="usuario">Usuario</label>
            <input [disabled]="true" class="form-control" type="text" name="usuario" [(ngModel)]="admin.usuario" required>
        </div>

        <button type="button" class="btn btn-danger text-light shadow mt-3 w-100" (click)="eliminarAdministrador()">Eliminar
            </button>
    </form>

</div>