    <div class=" container d-flex justify-content-center align-items-center gap-xxl-5 gap-md-2 mb-5">

      <div class="d-flex flex-column align-items-center d-none d-md-block"[routerLink]="['/home','animal',1]">
        <div class="img-crop d-none d-md-block  rounded-5 overflow-hidden custom-card">
          <img class="img-fluid" src="/imagenes/selectorAnimal/perro3.png" alt="Perro" draggable="false" style="cursor: pointer;">

        </div>
        <div class="text-center">
          <button class="btn btn-link text-center" [routerLink]="['/home','animal',1]">Perros</button>
        </div>
      </div>

      <div class="d-flex flex-column align-items-center d-none d-md-block" [routerLink]="['/home','animal',2]">
        <div class="img-crop d-none d-md-block rounded-5 overflow-hidden custom-card">
          <img class="img-fluid" src="/imagenes/selectorAnimal/gato2.png" alt="Gato" draggable="false" style="cursor: pointer;">
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-link" [routerLink]="['/home','animal',2]">Gatos</button>
        </div>
      </div>

      <div class="d-flex flex-column align-items-center d-none d-md-block" [routerLink]="['/home','animal',4]">
        <div class="img-crop d-none d-md-block rounded-5 overflow-hidden custom-card">
          <img class="img-fluid" src="/imagenes/selectorAnimal/conejo2.png" alt="Conejo" draggable="false" style="cursor: pointer;">
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-link" [routerLink]="['/home','animal',4]" draggable="false">Roedores</button>
        </div>
      </div>

      <div class="d-flex flex-column align-items-center d-none d-md-block" [routerLink]="['/home','animal',3]">
        <div class="img-crop d-none d-md-block rounded-5 overflow-hidden custom-card">
          <img class="img-fluid" src="/imagenes/selectorAnimal/loro2.png" alt="Pájaro" style="cursor: pointer;">
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-link" [routerLink]="['/home','animal',3]">Pájaros</button>
        </div>
      </div>