<mat-form-field class="custom-autocomplete">
    <input
      required
      [disabled]="modo == 'eliminar'"
      name="marca"
      type="text"
      placeholder="Selecciona marca"
      matInput
      (focus)="filtrar()"
      [matAutocomplete]="autoMarca"
      [(ngModel)]="nombreMarca"
      (ngModelChange)="filtrar()"
    />
    <mat-autocomplete #autoMarca="matAutocomplete" class="bg-white">
      @for (marca of marcasFiltrados; track marca) {
      <mat-option (click)="cambiarIdMarca(marca.id)" [value]="marca.nombre">
        <span><img [src]="'http://localhost:3000/imagenesMarcas/'+marca.imagen" alt="" width="45px"></span><span>{{marca.nombre}}</span>
        
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>