<app-header />
<div class=" d-flex justify-content-start align-items-center mt-2 ms-5 py-2">
    <img class="" style="height: 20px;" src="imagenes/recursos/flechaizq.png" alt="Volver" >
    <button class="btn btn-link text-decoration-none" routerLink="/perfil">Volver a Mi Perfil</button>
</div>

<div class="d-flex justify-content-center mt-3">
    <form class="w-100 rounded p-4" style="max-width: 600px;">
        <h3 class="text-center text-primary mb-5">Cambiar Contraseña</h3>

        <div class="mb-3">

            <input class="form-control" type="text" name="usuario" [value]="usuario.usuario" hidden>
        </div>
        <div class="mb-3">
            <label class="form-label" for="passActual">Contraseña actual</label>
            <input class="form-control" type="password" name="passActual" [(ngModel)]="usuario.antigua" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="passNueva">Nueva contraseña</label>
            <input class="form-control" type="password" [ngClass]="{'is-invalid': contrasenasNoCoinciden}"
                name="passNueva" [(ngModel)]="usuario.nueva" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="repitePass">Repite contraseña</label>
            <input class="form-control" type="password" [ngClass]="{'is-invalid': contrasenasNoCoinciden}"
                name="repitePass" [(ngModel)]="usuario.nueva2" required>
            <div *ngIf="contrasenasNoCoinciden" class="d-flex flex-row align-items-baseline invalid-feedback d-block">
                <img class="me-2 mt-1" src="imagenes/recursos/warning.png" width="18px">
                Las contraseñas no coinciden.
            </div>
        </div>

        <div class="mb-5 d-flex flex-row w-100">
            <button type="button" class="me-2 btn btn-outline-secondary text-dark shadow mt-3 w-100" routerLink="/perfil">Cancelar</button>
            <button type="button" class="btn btn-danger text-light shadow mt-3 w-100" [disabled]="!puedeCambiarPassword" (click)="cambiarPassword()">Actualizar</button>
        </div>
        
    </form>
</div>