<div class="d-flex justify-content-center mt-3 mb-4">
    <form class="w-75 rounded bg-white p-4 " style="max-width: 500px;" #miFormulario="ngForm">
      <div *ngIf="origen=='admin'">
        <h3 class="text-center text-primary mb-1">Usuario</h3>
        <p class="text-center" *ngIf="modo === 'registrar'">Añade un usuario:</p>
        <p class="text-center" *ngIf="modo === 'modificar'">Modifica un usuario:</p>
        <p class="text-center" *ngIf="modo === 'eliminar'">Elimina un usuario:</p>
      </div>
  
      <!-- Usuario -->
      <div class="mb-3" *ngIf="modo == 'registrar'">
        <label class="form-label fw-bold" style="font-size: small;" for="usuario">Usuario</label>
        <input class="form-control" type="text" name="usuario" [(ngModel)]="usuario.usuario" required>
      </div>
      <div class="mb-3" *ngIf="modo != 'registrar'">
        <label class="form-label" for="usuario">Usuario</label>
        <mat-form-field class="w-100">
          <input name="usuario" type="text" placeholder="Selecciona usuario" matInput [matAutocomplete]="auto"
            [(ngModel)]="usuario.usuario" (ngModelChange)="filtrarUsuarios()" />
          <mat-autocomplete #auto="matAutocomplete">
            @for (usuario of usuariosFiltrados; track usuario) {
              <mat-option (click)="completarDatos()" [value]="usuario.usuario">{{ usuario.usuario }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
  
      <!-- Contraseña -->
      <div class="mb-3">
        <label class="form-label fw-bold" style="font-size: small;" for="contrasena">Contraseña</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="password" name="contrasena" [(ngModel)]="usuario.contrasena" required>
      </div>
  
      <!-- Nombre -->
      <div class="mb-3">
        <label class="form-label fw-bold" style="font-size: small;">Nombre</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="text" name="nombre" [(ngModel)]="usuario.nombre" required>
      </div>
  
      <!-- Primer Apellido -->
      <div class="mb-3">
        <label class="form-label fw-bold" style="font-size: small;" for="apellido1">Primer apellido</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="text" name="apellido1" [(ngModel)]="usuario.apellido1" required>
      </div>
  
      <!-- Segundo Apellido -->
      <div class="mb-3">
        <label class="form-label fw-bold" style="font-size: small;" for="apellido2">Segundo apellido</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="text" name="apellido2" [(ngModel)]="usuario.apellido2">
      </div>
  
      <!-- Email -->
      <div class="mb-3">
        <label class="form-label fw-bold" style="font-size: small;" for="email">Email</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="email" name="email" [(ngModel)]="usuario.email" required>
      </div>
  
      <!-- Teléfono -->
      <div class="mb-3">
        <label class="form-label fw-bold" style="font-size: small;" for="telefono">Teléfono</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="text" name="telefono" [(ngModel)]="usuario.telefono" required>
      </div>
  
      <!-- Código Postal -->
      <div class="mb-3">
        <label class="form-label fw-bold" style="font-size: small;" for="cp">Código postal</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="text" name="cp" [(ngModel)]="usuario.cp" required>
      </div>
  
      <!-- Dirección -->
      <div class="mb-4">
        <label class="form-label fw-bold" style="font-size: small;" for="direccion">Dirección</label>
        <input [disabled]="modo=='eliminar'" class="form-control" type="text" name="direccion" [(ngModel)]="usuario.direccion" required>
      </div>
  
      <!-- Botones -->
      <div class="d-flex flex-row w-100">
       
        <button *ngIf="modo === 'registrar'" type="button" class="btn btn-danger text-light shadow mt-3 w-100"
          (click)="registrar()">Registrar</button>
        <button *ngIf="modo === 'modificar'" type="button" class="btn btn-danger text-light shadow mt-3 w-100"
          (click)="modificar()">Modificar</button>
        <button *ngIf="modo === 'eliminar'" type="button" class="btn btn-danger text-light shadow mt-3 w-100"
          (click)="eliminar()">Eliminar</button>
      </div>
    </form>
  </div>
  