<div class="mb-3">
    <div class="card shadow">
        <div class="card-body">
            <div class=" d-flex justify-content-between">
            <h4 class="card-title mb-4">Contraseña</h4>
            <button class="btn btn-link" routerLink="/editpassword">Editar</button>
        </div>
            <hr style="color: #F4B860; ">
            
            <div class="d-flex align-items-baseline mt-4 mb-4">
                <p class="card-text fw-bold me-3">Contraseña: </p>
                <p class="card-text">*********</p>
            </div>
            
        </div>
    </div>
</div>
