<div class="carrito-overlay" *ngIf="visible" @fadeOverlay  (click)="toogleCarrito()">
</div>
<div class="carrito-panel" *ngIf="visible" @slideInOut  (click)="$event.stopPropagation()">
  <button class="btn btn-danger btn-sm float-end" (click)="toogleCarrito()">x</button>


  <div class="container">


    <h4 class="text-center rounded-bottom bg-secondary text-black m mb-5 py-2 shadow">Mi cesta <img width="9%"
        src="imagenes/recursos/carrito.svg" alt="cesta"></h4>



    <div *ngIf="cantidadProductos==0">

      <h4 class="alert alert-warning text-primary text-center" style="font-size: medium;">Ups... no tienes productos en
        tu cesta  :(</h4>

    </div>

    <div *ngFor="let producto of productosTablaCarro" class=" d-flex flex-column">


      <ng-container *ngFor="let variante of producto.variantes">

        <app-card-productocesta [producto]="producto" [variante]="variante"
          (pasarPrecioFinal)="actualizarTotal($event)"></app-card-productocesta>
      </ng-container>


    </div>


  </div>

  <div *ngIf="cantidadProductos!=0">
    <label class="fw-bold mx-3" for="cupones" style="font-size: large;">Vales y cupones</label>


    <div class="mx-2">
      <button *ngIf="!tengoCupon" class="btn btn-link fw-bold" style="text-decoration: none; font-size: smaller;"
        (click)="mostrarInputCupon()">Añade un cupón</button>
    </div>


    <div *ngIf="tengoCupon" class="d-flex flex-row justify-content-between gap-3 mt-2 mb-3 mx-3">
      <input class="rounded-2 border-1 w-75" id="cupones" type="text" placeholder="Código de cupón" (click)="aplicarCupon()">
      <button class="btn btn-primary w-25">Aplicar</button>
    </div>

  </div>
  <hr>

  <div *ngIf="cantidadProductos!=0" >
  <div class=" mx-3 d-flex flex-row justify-content-between mt-4">
    <div>
      <h4>Importe Total:</h4>
    </div>

    <div>
      <h4 class="fw-bold">{{importeFinal.toFixed(2)}}€ </h4>
    </div>



  </div>
  <div data-bs-toogle="tooltip" data-bs-placement="bottom" title="Completa el pago"
   class=" text-white fw-bold btn btn-danger w-100 mt-4 mb-5 mx-1" style="font-size: large;" >Compra Ya</div>
</div>





  <!-- <ul>
    <li *ngFor="let item of cartItems; trackBy: trackByProductId">
      <app-product-card [product]="item"></app-product-card>
    </li>
  </ul>
  <div class="cart-summary">
    
    <span>Total: {{ total | currency }}</span>
    <button (click)="checkout()">Finalizar compra</button>
  </div> -->

</div>