
<div class=" d-flex justify-content-start ms-5 py-3">
    
</div>
<div class="container d-flex flex-column align-items-center justify-content-center">

    <form class="w-100 rounded  bg-white p-4"
            style="max-width: 450px;" (ngSubmit)="comprobarLogin()" #miFormulario="ngForm">

            <h3 class=" text-primary mb-3 text-center fw-bolder">Iniciar Sesión</h3>

        <div class="mb-3">
            <label class="form-label fw-bold" style="font-size: small;" for="usuario">Usuario</label>
            <input class="form-control" type="text" name="usuario" [(ngModel)]="usuario.usuario" placeholder="Usuario" >
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold" style="font-size: small" for="contrasena">Contraseña</label>
            <input class="form-control" type="password" name="contrasena" [(ngModel)]="usuario.contrasena" placeholder="Contraseña" >

        </div>

        
        
        <button class="text-light btn btn-danger mt-3 w-100" type="submit">Iniciar sesión</button>
    </form>



</div>

<div class="text-center">
    
    <button class="btn btn-link" (click)="comprobarLoginAdmin()">Login Admin</button>
    <button class="btn btn-link" routerLink="/home">Ir a Home</button>

    
</div>

<div class="mb-5"></div>