<div class="container d-flex justify-content-center align-items-center mt-5">

    <form class="w-100 rounded shadow bg-white p-4"
            style="max-width: 300px;" (ngSubmit)="comprobarLogin()" #miFormulario="ngForm">

            <h3 class=" text-primary mb-4 text-center fw-bolder">Login</h3>

        <div class="mb-3">
            <label class="form-label" for="usuario">Usuario</label>
            <input class="form-control" type="text" name="usuario" [(ngModel)]="usuario.usuario" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="contrasena">Contraseña</label>
            <input class="form-control" type="password" name="contrasena" [(ngModel)]="usuario.contrasena" required>

        </div>
        <button class="text-light btn btn-danger mt-3 w-100" type="submit">Enviar</button>
    </form>

</div>
<div class="text-center">
    <button class="btn btn-link" routerLink="/administracion">Ir a Panel Admin</button>
    <button class="btn btn-link" routerLink="/home">Ir a Home</button>
</div>