<div class="container-fluid mb-5 d-flex flex-row">
  <aside class="me-5"><app-filtros *ngIf="accion" [productos]="productos" (productosChange)="filtrar($event)"></app-filtros></aside>

  <div>
    <div *ngIf="accion == null"><h1>Productos Recomendados</h1></div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 mx-3">
      <div class="col d-flex" *ngFor="let producto of productosFiltrados">
        <app-card-producto
          class="w-100 h-100"
          [producto]="producto"
        ></app-card-producto>
      </div>
    </div>
  </div>
</div>
