<div class="mb-3">
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mb-4">Mis pedidos</h4>
                
            </div>
            
            <hr style="color: #F4B860; ">
            
            <div class="d-flex flex-column align-items-start mt-2">
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                <p class="card-text fw-bold me-3 m-0 text-uppercase">A rellenar cuando haya pedidos </p>
                
            </div>
            
           
        </div>
    </div>
</div>

