<div  class="card w-100 h-100 shadow custom-card" >
  
  <a [routerLink]="['/pagina-producto', producto.producto.id]">
    <img
      [src]="'http://localhost:3000/imagenesProductos/' + producto.imagenes[0].nombre"
      class="card-img-top"
      alt="..."
    />
  </a>
  <div class="card-body">
    <p style="max-width: 120px; font-size: small;" class="alert alert-warning py-0 text-center">{{ producto.marca.nombre }}</p>
    <p class="card-title">{{ producto.producto.nombre }}</p>
    
  </div>
  <ul class="list-group list-group-flush">
    
    <li *ngIf="precioMin!= precioMax" class="list-group-item fw-bold" >{{ precioMin }}€ - {{ precioMax }}€</li>
    <li *ngIf="precioMin== precioMax" class="list-group-item fw-bold" >{{ precioMin }}€</li>
    <li class="list-group-item">

        <p>Valoración({{producto.producto.valoracion}}):</p>
      <div style="width: 40%;" [style.clip-path]="'inset(0 '+valoracion+'% 0 0)'" >
          <img  src="imagenes/recursos/huellaPerroNegra.png" style="width: 20%; display: inline-block ;" />
          <img src="imagenes/recursos/huellaPerroNegra.png" style="width: 20%; display: inline-block;" />
          <img src="imagenes/recursos/huellaPerroNegra.png" style="width: 20%; display: inline-block;" />
          <img src="imagenes/recursos/huellaPerroNegra.png" style="width: 20%; display: inline-block;" />
          <img src="imagenes/recursos/huellaPerroNegra.png" style="width: 20%; display: inline-block;" />
        
        </div>
    </li>
  </ul>

</div>
