<div class="mb-3">
    <div class="card shadow">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mb-4">Mi Dirección de Envío</h4>
                <button class="btn btn-link" routerLink="/editdireccion" >Editar</button>
            </div>
            
            <hr style="color: #F4B860; ">
            
            <div class="d-flex flex-column align-items-start mt-2">
                <p class="card-text fw-bold me-3 m-0">Dirección: </p>
                <p class="card-text mb-4">{{usuario.direccion}}</p>
            </div>
            <div class="d-flex flex-column align-items-start mt-0">
                <p class="card-text fw-bold me-3 m-0">Código Postal: </p>
                <p class="card-text">{{usuario.cp}} </p>
            </div>
           
        </div>
    </div>
</div>
