<app-header />


<div class="container my-5">
    <div class="row g-4">
        <!-- Carrusel de imágenes -->
        <div class="col-md-6">
            <div id="carouselProducto" class="carousel slide" data-bs-ride="carousel" style="height: 100%;">

                <div class="carousel-inner w-100 h-100">
                    <div *ngFor="let imagen of imagenes; let i = index" class="carousel-item" [class.active]="i===0">

                        <img class="d-block w-100 h-100 imagen-carrusel"
                            [src]="'http://localhost:3000/imagenesProductos/' + imagen.nombre" alt="'Imagen ' + (i+1)"
                            style="object-fit: contain; background: #f8f9fa;">

                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducto"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselProducto"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>

        <!-- Info producto -->
        <div class="col-md-6">
            <h4>{{producto.nombre}}</h4>


            <p class=" mt-2 mb-0">Valoración(<span class="fw-bold">{{producto.valoracion}}</span>)</p>

            <div class="mb-3" style="width: 40%;" [style.clip-path]="'inset(0 '+valoracion+'% 0 0)'">
                <img src="imagenes/recursos/huellaPerroAzul.png" style="width: 20%; display: inline-block ;" />
                <img src="imagenes/recursos/huellaPerroAzul.png" style="width: 20%; display: inline-block;" />
                <img src="imagenes/recursos/huellaPerroAzul.png" style="width: 20%; display: inline-block;" />
                <img src="imagenes/recursos/huellaPerroAzul.png" style="width: 20%; display: inline-block;" />
                <img src="imagenes/recursos/huellaPerroAzul.png" style="width: 20%; display: inline-block;" />

            </div>


            <p class="descripcion-corta" [innerHTML]="producto.descripcion">{{producto.descripcion}}</p>
            <a href="#descrip" class="btn btn-link p-0 mb-5" (click)="scrollToDescripcion($event); ">
                Continuar a descripción completa
            </a>



            <form>

                <div class="container d-flex flex-row justify-content-around">

                    <div *ngIf="variantes.length > 1" class="mb-3">
                        <label for="selectOpciones" class="form-label fw-bold">Escoge una opción</label>

                        <select class="form-select" style="width: 200px;" id="selectOpciones"
                            (change)="cambiarPrecio()">
                            <option *ngFor="let item of variantes; let i = index" value="{{i}}">
                                {{item.valor_variacion}}</option>
                        </select>


                    </div>

                    <div class=" d-flex justify-content-end align-items-center card   shadow">
                        <div class="card-body">
                            <div class="d-flex flex-row align-items-center justify-content-start mb-4 gap-3">
                                <label class="">Formato Producto</label>
                                <label class="fw-bold" style="font-size: small;">{{varianteSeleccionada}}</label>

                            </div>

                            <div *ngIf="producto.descuento!=0; else soloPrecio" class="d-flex flex-column align-items-start">
                                <label  style="font-size: small;">Precio anterior: {{precio}}</label>
                                <div class="alert alert-info custom-card py-0 mt-2">
                                     <label  style="font-size: small; font-weight: bold;">Descuento: <span style="color: red;">{{(descuento)}}</span> </label>
                                </div>
                               
                                <label class="fw-bold fs-4" style="color: red;">{{precioConDto}}€</label>
                            </div>

                            <ng-template #soloPrecio>
                                    <label class="fw-bold fs-4">{{precio}}€</label>
                                </ng-template>
                            


                            <div class="mb-3 d-flex align-items-center mt-4">

                                <div class="d-flex flex-row align-items-center gap-0 me-5 ">
                                    <img src="imagenes/recursos/signoMenos2.png" class="py-0" style="width: 25px;"
                                        (click)="restarUno()" alt="menos">
                                    <input type="number" class="form-control me-2 ms-2 input-cantidad text-center"
                                        style="width: 50px;" id="cantidad" value="1" min="1">
                                    <img src="imagenes/recursos/signoMas2.png" class="py-0 custom-card" style="width: 25px;"
                                        (click)="sumarUno()" alt="mas">
                                </div>
                                <button type="submit" class="btn btn-danger text-black fw-bold">Añadir a la cesta</button>
                            </div>

                        </div>
                    </div>


                </div>







            </form>
        </div>
    </div>


    <div class="row mt-5" id="descrip">
        <div class="col-12">
            <ul class="nav nav-tabs" id="productTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active bg-warning text-light" id="descripcion-tab" data-bs-toggle="tab"
                        data-bs-target="#descripcion" type="button" role="tab">Descripción</button>
                </li>

            </ul>
            <div class="tab-content p-3 border border-top-0 bg-white" id="productTabContent">
                <div class="tab-pane fade show active" id="descripcion" role="tabpanel">

                    <p class="text-primary" [innerHTML]="producto.descripcion">{{producto.descripcion}}</p>
                </div>

            </div>
        </div>
    </div>
</div>